<!DOCTYPE html>
<!--
Copyright (C) 2016 VDC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<h1>{{run.title}}</h1>
<h2>{{run.date}} @ {{run.location}}</h2>
<nav>
	<a routerLink="/run" routerLinkActive="active">Course</a>
	<a routerLink="/dashboard" routerLinkActive="active">Résultats</a>
	<a routerLink="/loops" routerLinkActive="active">Boucles</a>
	<a routerLink="/runners" routerLinkActive="active">Coureurs</a>
	<a routerLink="/teams" routerLinkActive="active">Équipes</a>
</nav>
<router-outlet></router-outlet>