<!DOCTYPE html>
<!--
Copyright (C) 2016 VDC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<h3>Résultats</h3>
<div >
	<div class="col-1-3">
		<h4>Scratch</h4>
		<div *ngFor="let loopsByRunner of scratch; let i = index" >
			<span>{{i+1}} {{loopsByRunner.runner.firstName}} {{loopsByRunner.runner.lastName}}</span>
			{{loopsByRunner.runner.nbLoops}} tour<span *ngIf="loopsByRunner.runner.nbLoops > 1">s</span>
			{{loopsByRunner.runner.speed | number}}km/h - {{loopsByRunner.runner.rythm | number}}min/km
	  </div>
	</div>
	<div class="col-1-3">
		<h4>Féminin</h4>
		<div *ngFor="let loopsByWomen of women; let i = index" class="pink">
			<span>{{i+1}} {{loopsByWomen.runner.firstName}} {{loopsByWomen.runner.lastName}}</span>
			{{loopsByWomen.runner.nbLoops}} tour<span *ngIf="loopsByWomen.runner.nbLoops > 1">s</span>
			{{loopsByWomen.runner.speed | number}}km/h - {{loopsByWomen.runner.rythm | number}}min/km
	  </div>
  </div>	
  <div class="col-1-3">
		<h4>Masculin</h4>
		<div *ngFor="let loopsByMen of men; let i = index" class="blue">
			<span>{{i+1}} {{loopsByMen.runner.firstName}} {{loopsByMen.runner.lastName}}</span>
			{{loopsByMen.runner.nbLoops}} tour<span *ngIf="loopsByMen.runner.nbLoops > 1">s</span>
			{{loopsByMen.runner.speed | number}}km/h - {{loopsByMen.runner.rythm | number}}min/km
	  </div>
	 </div>
</div>

<div>
  <div *ngFor="let category of categories" class="col-1-4">
    <div >
      <h4>{{category.category}}</h4>
      <div *ngFor="let loopsByRunner of category.loopsByRunner; let i = index" >
		    <span>{{i+1}} {{loopsByRunner.runner.firstName}} {{loopsByRunner.runner.lastName}}</span>
				{{loopsByRunner.runner.nbLoops}} tour<span *ngIf="loopsByRunner.runner.nbLoops > 1">s</span>
				{{loopsByRunner.runner.speed | number}}km/h - {{loopsByRunner.runner.rythm | number}}min/km

				<div *ngIf="displayAllLoops">
					<h5>{{loopsByRunner.runner.firstName}} {{loopsByRunner.runner.lastName}}</h5>
					<div *ngFor="let loop of loopsByRunner.loops">
						#{{loop.number}} {{(loop.duration - loop.duration % 60) / 60}}min{{loop.duration%60}}s {{loop.speed | number}}km/h - {{loop.rythm | number}}min/km
					</div>
				</div>
      </div>
    </div>
</div>