<!DOCTYPE html>
<!--
Copyright (C) 2016 VDC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<h3>Boucles</h3>
<div class="loops grid data-grid" *ngIf="isRunning()">
  <div class="col-1-2">
  	<div *ngFor="let runner of runners" class="inline">
			<div class="badge inline" (click)="addLoop(runner)">{{runner.bib}}</div>
		</div>
	</div>
</div>
<div class="loops grid data-grid" *ngIf="isRunning()">
  <div class="col-1-2">
		<div *ngFor="let team of teams" class="inline">
			<div class="badge inline" (click)="addTeamLoop(team)">{{team.bib}}</div>
		</div>
  </div>
</div>