<!DOCTYPE html>
<!--
Copyright (C) 2016 VDC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<h3>Gestion de course</h3>
<button (click)="start();" *ngIf="!isRunning()">
  Démarrer
</button>

<div *ngIf="isRunning()">
	<button (click)="end();">
	  Arrêter
	</button>
</div>
<div *ngIf="run.start">Course de {{run.length}}m démarrée à {{run.start | amDateFormat:'hh:mm'}} <span *ngIf="run.end != '' && !isRunning()">et terminée à {{run.end | amDateFormat:'hh:mm'}}.</span></div>