<!DOCTYPE html>
<!--
Copyright (C) 2016 VDC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div *ngIf="runner">
	<div><label for="runnerFirstName">Coureur {{runner.bib}} : </label></div>
	<div><input id="runnerBib" [(ngModel)]="runner.bib" placeholder="Numéro de dossard"/></div>
	<div><input id="runnerSex" [(ngModel)]="runner.sex" placeholder="Sexe"/><input id="runnerFirstName" [(ngModel)]="runner.firstName" placeholder="prénom"/><input id="runnerLastName" [(ngModel)]="runner.lastName" placeholder="nom de famille"/></div>
	<div><input id="runnerEmail" [(ngModel)]="runner.email" placeholder="email"/></div>
</div>
<button (click)="save()">Enregistrer</button>
<button (click)="goBack()">Retour</button>