<div id="search-component">
  <h4>Rechercher </h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let runner of runners | async"
         (click)="gotoDetail(runner)" class="search-result" >
      {{runner.bib}} - {{runner.firstName}} {{runner.lastName}}
    </div>
  </div>
</div>