<!DOCTYPE html>
<!--
Copyright (C) 2016 VDC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div *ngIf="enableIndividualCreation">
  <label>Dossard :</label> <input #runnerBib />
  <label>Prénom :</label> <input #runnerFirstName />
  <label>Nom :</label> <input #runnerLastName />
  <label>Email :</label> <input #runnerEmail />

  <button (click)="create(runnerBib.value, runnerFirstName.value, runnerLastName.value, runnerEmail.value); runnerBib.value=''; runnerFirstName.value=''; runnerLastName.value=''; runnerEmail.value=''">
    Ajouter
  </button>
</div>

<div>
  <label title="Sans les en-têtes">CSV à charger :</label><textarea #csv></textarea>

  <button (click)="overwrite(csv.value); csv.value=''">Remplacer tous</button>
  <button (click)="add(csv.value); csv.value=''">Ajouter/Mettre à jour</button>
</div>

<ul class="runners">
	<li *ngFor="let runner of runners"
			[class.selected]="runner === selectedRunner">
      <span (click)="gotoDetail(runner)">
		    <span class="badge">{{runner.bib}}</span>{{runner.firstName}} {{runner.lastName}}
      </span>
    <button *ngIf="enableIndividualCreation" class="delete" (click)="delete(runner); $event.stopPropagation()">x</button>
	</li>
</ul>